.add-member{
    margin: 10px;
    padding: 10px;
}
.text-danger{
    color: red;
}
.invalid{
    border: 2px solid red;
}
.d-none{
    display: none;
}
input{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
button{
    cursor: pointer;
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background: darkblue;
    color: #fff;
    font-weight: bolder;
}