<footer>
    <div class="fMain">
        <div class="fitem1">
            <h1><a routerLink="/">ARTeam</a></h1>
            <p>This website developed on Angular. Developed by ownner, Azhar Ali lives in new delhi and currently a
                Btech student at netaji subhas university of technology new delhi,india.</p>
        </div>
        <div class="fitem2">
            <div class="fMenu">
                <h2>Covid19</h2>
                <div><a routerLink="/showproduct">Country Data</a></div>
                <div><a routerLink="/searchproduct">India Data</a></div>
                <div><a routerLink="/addproduct">Search Data</a></div>
            </div>
            <div class="fMenu">
                <h2>Team</h2>
                <div><a routerLink="allmembers">Members</a></div>
                <div><a routerLink="addmember">Add Member</a></div>
            </div>
        </div>
    </div>
    <div class="flast">
        <h3>&copy; Copyright: All rights are reserved.</h3>
    </div>
</footer>