<header>
    <nav>
        <div class="hMain">
            <div class="logo"><h1><a routerLink="/">ARTeam</a></h1></div>
            <div class="sidenav">
                <ul class="hMenu">
                    <li class="navitem">
                        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
                    </li>
                    <li class="navitem">
                        <div class="dropdown">
                            <button class="dropbtn">Covid19</button>
                            <div class="dropdown-content">
                              <a routerLink="/showproduct" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Country Data</a>
                              <a routerLink="/addproduct" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">India Data</a>
                              <a routerLink="/searchproduct" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Search Data</a>
                            </div>
                        </div>
                    </li>
                    <li class="navitem">
                        <a routerLink="/allmembers" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Team</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- 
<hr><button class="socialbutton" [style.background]=" '#00aced' ">twitter</button><hr>
<hr><button class="socialbutton" [style.background]=" '#3b5999' ">facebook</button><hr>
<hr><button class="socialbutton" [style.background]=" '#25D366' ">whatapp</button><hr>
<hr><button class="socialbutton" [style.background]=" '#cd201f' ">youtube</button><hr> -->