.pd-10{
    padding: 10px;
}
.m-10{
    margin: 10px;
}
h1{
    font-family: 'Pangolin', cursive !important;
}
.hTop{
   background: hsl(220deg 15% 8%);
   position: relative;
}
.hContent{
    position: absolute;
    left: 50%;
    bottom: 30%;
    color: #fff;
}
.hContent h3{
    font-family: 'Source Serif Pro', serif;
}
.aboutus{
    padding: 30px 0;
}
.aboutus h1{
    text-align: center;
}
.aboutus img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-content{
    display: flex;
    justify-content: space-evenly;
    background: #000;
    color: #fff;
}
.aContent h2{
    color: #6cffe5;
}
.ab-det h3{
    color: hsla(180,51.4%,51.6%,1);
}
.contact h1{
    text-align: center;
}
.contact form{
    box-shadow: 0px 0px 5px #fff;
    background: #47525d;
    color: white;
    border-radius: 10px;
}
.contact form input,textarea{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}
.form-item{
    margin: 10px;
    padding-top: 10px;
}
.contact-btn{
    margin: 10px;
    padding: 10px;
    background: #346ee8;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
.contact-btn:hover{
    background: #3b5999;
    cursor: pointer;
}
@media (max-width: 1200px){
    .about-content{
        flex-direction: column;
    }
}
@media (max-width: 600px){
    .hContent{
        left: 0;
    }
    .hTop img{
        width: 100%;
        height: 100vh;
    }
    .m-10{
        margin: 0;
    }
}